---
layout: page
---

<div class="page-header">
    <h1>Posts</h1>
</div>

<div style="margin: 40px" ></div>

<ul class="list-unstyled">
  {% for post in site.posts %}
    <li>
        <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a> 
        <div style="margin-bottom: 12px" ></div>
        {{ post.excerpt }}
        <small>{{ post.date | date: "%b %-d, %Y" }}.</small>
        {% if post.tags.size > 0 %}
            <div style="margin-right: 5px; display: inline" ></div>
                {% for tag in post.tags %}
                    <span class="badge">{{ tag | escape }}</span> 
                {% endfor %}
        {% endif %}
        <div style="margin-bottom: 40px" ></div>
    </li>
  {% endfor %}
</ul>
