<!doctype html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
    <meta charset="utf-8">
    <title>
        {% if page.title.size > 0 %}
            {{ page.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
{% if site.description.size > 0 %}
    <meta name="description" content="{{ site.description }}">
{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- JS and CSS are fetch now to prevent FOUC -->
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Merriweather|Titillium+Web'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "assets/alpha-one.css" | relative_url }}">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% if site.png_icon.size > 0 %}
    <link rel="icon" type="image/png" href="{{ site.favicon_png | absolute_url }}">
{% endif %}
    <link rel="canonical" href="{{ page.url | absolute_url }}">
{% comment %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | absolute_url }}">
{% endcomment %} 
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/" >{{ site.title }}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if site.header_link_1_label.size > 0 %}
                        <li>
                            <a href="{{ site.header_link_1_href | relative_url }}"> {{ site.header_link_1_label }} </a>
                        </li>
                    {% endif %}
                    {% if site.header_link_2_label.size > 0 %}
                        <li>
                            <a href="{{ site.header_link_2_href | relative_url }}"> {{ site.header_link_2_label }} </a>
                        </li>
                    {% endif %}
{% comment %}
                    {% if site.linkedin_username.size > 0 %}
                    <li>
                        <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username.size > 0 %}
                    <li>
                        <a href="https://github.com/{{site.github_username}}/" target="_blank">
                            <i class="fa fa-github-square"></i>
                        </a>
                    </li>                    
                    {% endif %}
                    {% if site.twitter_username.size > 0 %}
                    <li>
                        <a href="https://twitter.com/{{site.twitter_username}}" target="_blank">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>
                    {% endif %}
{% endcomment %}                    
                </ul>
            </div>
        </div>
    </nav>