{% include header.html %}

<div class="page-header">
    <h1>{{ page.title | escape }}</h1>
    <ul class="list-inline">
        <li><small>{{ page.date | date: "%b %-d, %Y" }}.</small></li>
        {% if page.tags.size > 0 %}
            <div style="margin-right: 5px; display: inline" ></div>
            <li>
                {% for tag in page.tags %}
                    <span class="badge">{{ tag | escape }}</span> 
                {% endfor %}
            </li>
        {% endif %}
    </ul> 
</div>


<div style="margin:40px" ></div>

<div class="content"> 
    {{ content | markdownify}}
</div>

{% include footer.html %}