{% include header.html %}

<article>
    <div class="container">
        <div class="page-header text-center">
            <h1>{{ page.title }}</h1>
            <p class="text-center subtitle">
                <strong>Published: </strong> {{ page.date | date: "%b %-d, %Y" }}
                {% if page.tags.size > 0 %}
                    <strong>· Tags: </strong>
                        {% for tag in page.tags %}
                            {{ tag }}
                        {% endfor %}
                {% endif %}
            </p>
        </div>

        <div style="padding:30px" ></div>

        <div class="content"> 
            {{ content | markdownify}}
        </div>
    </div>
</article>

{% include footer.html %}